/*
    
    Experimental

*/

/* Шрифты */
@font-face {
  font-family: GlBold;
  src: url("../fonts/glbold.otf");
}

@font-face {
  font-family: GlLight;
  src: url("../fonts/glight.otf");
}
/* По умолчанию */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.row {
  display: flex;
}
.h1,
.h2,
.h3,
h1,
h2,
h3 {
  font-family: GlBold, sans-serif;
}
.text {
  line-height: 1.5;
  font-family: GlLight, sans-serif;
  line-height: 1.5;
  padding: 20px 0 0;
  font-size: 16px;
  color: #000;
}
.btn {
  padding: 13px 40px;
  font-size: 15px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: all ease-out 0.3s;
  position: relative;
  z-index: 900;
  background-color: transparent;
  font-family: GlBold, sans-serif;
}
.blue-header {
  color: #fff;
  font-family: GlBold, sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  background-color: #0095ff;
  padding: 18px 0;
}
/* Шапка */
.header__panel {
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 940;
  background-color: #fff;
  width: 100%;
  top: 0;
  left: 0;
}
.header__menu,
.header__logo {
  width: 55px;
  height: 55px;
}
.header__head {
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../imgs/header-bg.jpg");
  justify-content: center;
  align-items: center;
  margin-top: 55px;
}
.header__desc {
  text-align: center;
  width: 400px;
}
.header__h1 {
  color: #fff;
  font-size: 35px;
  margin: 25px 0;
}
.header__rect {
  background-color: rgba(11, 160, 255, 0.5);
  color: #fff;
  font-family: GlLight, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.3;
  padding: 25px;
}
/* Номер телефона */
.tel {
  font-family: GlBold, sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
/* Главное меню */
.menu {
  background-color: #0ba0ff;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 50% 50%;
  background-clip: padding-box;
  padding: 15px;
  background-image: url("../imgs/burger-menu.png");
  cursor: pointer;
  position: relative;
  z-index: 900;
}
.menu__list {
  position: absolute;
  z-index: 900;
  top: 55px;
  left: -300px;
}
.menu__item {
  position: relative;
  z-index: 950;
  right: 0;
}
.menu__link {
  display: block;
  position: relative;
  z-index: 1000;
  left: 0;
  padding: 25px 35px;
  color: #fff;
  font-family: GlLight, sans-serif;
  font-size: 18px;
  background-color: #0ba0ff;
  width: 300px;
}
.menu__link:hover {
  background-color: #52bdff;
}
/* Лого */
.logo {
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: 50% 50%;
  background-clip: padding-box;
  padding: 15px;
  background-image: url("../imgs/logo.png");
  cursor: pointer;
}
/* Скрываем реальный чекбокс */
.checkbox {
  display: none;
}
.checkbox-custom {
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 3px;
}
.checkbox-custom,
.label {
  display: inline-block;
  vertical-align: middle;
}
.checkbox:checked + .checkbox-custom::before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background: #0095ff;
  border-radius: 2px;
}
/* Информация о техникуме */
.info__desc {
  padding: 15px 55px;
}
.info__start-video {
  text-align: center;
  padding: 55px 0;
}
.info__btn {
  background-color: #0095ff;
  border-radius: 25px;
  color: #fff;
}
/* */
.spec__lever {
  font-family: GlLight, sans-serif;
  font-size: 19px;
  padding: 17px 45px;
  border: 1px solid rgb(170, 170, 170);
  margin-top: -1px;
  cursor: pointer;
  position: relative;
  z-index: 900;
}
.spec__lever:hover {
  background-color: rgb(250, 250, 250);
}
.spec__lever-arrow {
  width: 15px;
  height: 13px;
  background-image: url("../imgs/spec-open-arrow.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
  position: absolute;
  z-index: 900;
  top: 0;
  right: 55px;
  padding: 30px 0;
}
.spec__lever-arrow--opened {
  background-image: url("../imgs/spec-open-arrow-opened.png");
}
.spec__content {
  display: none;
}
.spec__desc,
.spec__tab {
  padding: 0 15px 15px;
}
.spec__buttons {
  text-align: center;
}
.spec__btn {
  background-color: #ff4343;
  border-radius: 27px;
  color: #fff;
  margin-bottom: 25px;
}
.spec__btn:nth-child(3n) {
  margin-bottom: 0;
}
.spec__btn:hover {
  background-color: #d62828;
}
