/* 

    Experimental

*/

/* Общие */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
html {
  height: 100%;
  /**
        Область для глобальных переменных
    */
  --info-rect-top-translate: 90px;
  --show-video-top-translate: 120px;
  --link-area-top-translate: -25px;
}
body {
  height: 100%;
}
ul,
ol {
  list-style: none;
}
/* ------ */

/* Шрифты */
@font-face {
  font-family: GlBold;
  src: url("../fonts/glbold.otf");
}

@font-face {
  font-family: GlLight;
  src: url("../fonts/glight.otf");
}

/* Страница */
.page {
  position: relative;
  z-index: 300;
  font-family: Tahoma;
  font-size: 17px;
  color: #fff;
}
.flex {
  display: flex;
}
/**
    Выравнивающий страницу блок
*/
.page__main {
  position: relative;
  z-index: 300;
}
.page__area {
  width: 1200px;
  margin: 0 auto;
  padding: 2.5% 0;
  position: relative;
  z-index: 500;
}
/**
    Слайды
*/
.main-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/backweb.jpg");
  background-position: 50%;
  overflow: hidden;
}
.main-slide:before {
  content: "";
  position: absolute;
  z-index: 350;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

/* Общие стили для слайдов */
.h1,
.h2,
.h3,
h1,
h2,
h3 {
  font-family: GlBold, sans-serif;
}
.h1,
h1 {
  font-size: 45px;
  border-bottom: 4px solid #0691f6;
  width: 50%;
}
.h2,
h2 {
  font-size: 27px;
  padding: 15px 0;
}
.h3,
h3 {
  font-size: 17px;
}
.text {
  line-height: 1.5;
  font-family: GlLight, sans-serif;
  line-height: 1.5;
  padding: 20px 0 0;
  font-size: 19px;
}
.btn {
  padding: 17px 25px;
  font-size: 15px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: all ease-out 0.3s;
  position: relative;
  z-index: 900;
  background-color: transparent;
}
.btn:before {
  content: "";
  position: absolute;
  z-index: 800;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: skewX(-20deg);
}
.btn-text,
.btn-image {
  position: relative;
  z-index: 900;
}
.about-btn {
  color: #fff;
  opacity: 1;
  margin-top: 15px;
  margin-right: 15px;
}
.about-btn:before {
  background-color: #ff4f4f;
  transition: box-shadow ease-in-out 0.3s;
}
.about-btn:hover {
  opacity: 0.9;
}
.about-btn:hover:before {
  box-shadow: 0 8px 40px 1px rgba(255, 64, 64, 0.7);
}
.about-btn:last-child {
  margin-right: 0;
}

.text-area {
  position: relative;
  z-index: 700;
  color: #333333;
  background-color: #fff;
  padding: 55px 55px;
  height: 100%;
}
.text-area__text {
  position: relative;
  z-index: 900;
}
.left-text-area {
  width: 40%;
}
.left-text-area__text {
  width: 140%;
}
.square {
  width: 100%;
  height: 80%;
  background-color: #fff;
  position: absolute;
  z-index: 600;
}
.square-right {
  right: -50%;
  top: 26%;
  transform: rotate(70deg) skewX(48deg);
}
.square-left {
  left: -55%;
  top: -7%;
  transform: rotate(-114deg) skewX(48deg);
}

.right-text-area {
  width: 40%;
  margin-left: 60%;
}
.right-text-area__text {
  width: 140%;
  left: -38%;
}

.buttons-area {
  width: 130%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: bottom;
}
.right-text-area__text + .buttons-area {
  position: relative;
  z-index: 700;
  left: -30%;
}
.right-text-area__text + .buttons-area .btn:before {
  transform: skewX(20deg);
}

.rect-text {
  position: relative;
  z-index: 900;
  padding: 37px 0;
  margin-bottom: 15px;
  color: #fff;
}
.rect-text:before {
  content: "";
  position: absolute;
  z-index: 890;
  top: 0;
  left: -35%;
  width: 100%;
  height: 100%;
  background-color: #0691f6;
  transform: skewX(-45deg);
}
.rect-text__text {
  position: relative;
  z-index: 1000;
}

/* ------- */

/* Карусели */
.slide__slides {
  height: 100%;
  vertical-align: bottom;
  position: relative;
  z-index: 600;
}
.slides__slide {
  height: 100%;
  overflow: hidden;
}
.slide__wrap {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}
.slide__text {
  width: 50%;
  height: 100%;
}
.slide__image-area {
  width: 50%;
  height: 100%;
  background-color: #00a8ff;
}
.slide__rect-text {
  padding-left: 55px;
  font-size: 30px;
  font-weight: bold;
}
.slide__text-area {
  padding-top: 0;
  padding-left: 75px;
}
.slides__arrows {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.slides__arrow {
  position: absolute;
  z-index: 800;
  top: 45%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.65;
  transition: opacity ease-in-out 0.2s;
}
.slides__arrow:hover {
  opacity: 1;
}
.arrow-left {
  left: 15px;
  background-image: url("../images/arrow-left.png");
}
.arrow-right {
  right: 15px;
  background-image: url("../images/arrow-right.png");
}
.arrow-right-white {
  background-size: 75%;
  background-image: url("../images/arrow-right-w.png");
}
/* ------- */

/* Стрелка наверх */
.page__arrow {
  position: fixed;
  z-index: 1100;
  bottom: 0;
  right: 0;
}
.arrow__img-wrap {
  position: relative;
  z-index: 1100;
  cursor: pointer;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0 0 15px;
}
.arrow__img-wrap:before {
  content: "";
  position: absolute;
  z-index: 1100;
  background-color: #0691f6;
  width: 250%;
  height: 250%;
  top: 0;
  left: 0;
  transform: rotate(45deg);
}
.arrow__image {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/arrow.png");
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 1200;
}
/* ------- */

/* Навигационное меню */

.page__navigation {
  position: fixed;
  z-index: 1100;
  top: 0;
  left: 0;
}
.navigation-menu__bars,
.navigation-menu__bars::before,
.navigation-menu__bars::after {
  cursor: pointer;
  border-radius: 1px;
  height: 2px;
  width: 25px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  display: block;
  transition: all 0.3s;
}
.navigation-menu {
  background-color: transparent;
  height: 100%;
  position: fixed;
  z-index: 1100;
  width: 600px;
  transform: translateX(-100%);
  transition: transform 0.3s 0.3s;
}
.navigation-menu::before {
  background: #0691f6;
  content: "";
  height: 400%;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translate(-50%, -50%) rotate(40deg);
  width: 100%;
  z-index: 0;
}
.navigation-menu--open {
  transform: translateX(0);
}
.navigation-menu--open .navigation-menu__bars {
  background-color: transparent;
}
.navigation-menu--open .navigation-menu__bars::before,
.navigation-menu--open .navigation-menu__bars::after {
  top: 0;
}
.navigation-menu--open .navigation-menu__bars::before {
  transform: rotate(45deg);
}
.navigation-menu--open .navigation-menu__bars::after {
  transform: rotate(-45deg);
}
.navigation-menu--open .menu-list__item {
  opacity: 1;
}
.navigation-menu__toggle {
  cursor: pointer;
  height: 30px;
  position: absolute;
  right: -40px;
  top: 5px;
  width: 30px;
}
.navigation-menu__bars::before,
.navigation-menu__bars::after {
  content: "";
}
.navigation-menu__bars::before {
  left: 0;
  top: -8px;
}
.navigation-menu__bars::after {
  left: 0;
  top: 8px;
}

.menu-list {
  padding: 60px 20px;
  position: relative;
  z-index: 10;
  width: 75%;
}
.menu-list__item {
  margin: 40px 0;
  font-size: 22px;
  cursor: pointer;
  opacity: 0;
  position: relative;
  z-index: 1200;
  transition: opacity 0.5s 0.5s;
}
.menu-list__item:before {
  position: absolute;
  z-index: 1200;
  left: 0;
  bottom: -5px;
  content: "";
  background-color: #fff;
  width: 0;
  height: 2px;
  transition: all ease-in-out 0.7s;
}
.menu-list__item:hover:before {
  width: 65%;
}

@media only screen and (max-width: 700px) {
  .navigation-menu {
    min-width: 240px;
    width: 80%;
  }
  .navigation-menu::before {
    width: 110%;
  }
}
@media only screen and (max-width: 480px) {
  .navigation-menu {
    background-color: #0691f6;
    min-width: 240px;
    width: 80%;
  }
  .navigation-menu::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}
/* ------- */

/* Фоны по специальностям */

/* Сварщик */
.welder {
  background-image: url("../images/svargrweb.jpg");
  background-repeat: no-repeat;
  background-position: 150%;
  background-size: 75%;
}
/* Мастер по ремонту строительных машин */
.machinist {
  background-image: url("../images/build-machine.jpg");
  background-repeat: no-repeat;
  background-position: 0% 10%;
  background-size: 75%;
}

.carpenter {
  background-image: url("../images/plot-work.jpg");
  background-repeat: no-repeat;
  background-position: 200%;
  background-size: 77%;
}

.dry-builder {
  background-image: url("../images/sux-work.jpg");
  background-repeat: no-repeat;
  background-position: -30% 10%;
  background-size: 75%;
}

.builder {
  background-image: url("../images/build-zd.jpg");
  background-repeat: no-repeat;
  background-position: 180% 10%;
  background-size: 77%;
}

.electric {
  background-image: url("../images/electrik.jpg");
  background-repeat: no-repeat;
  background-position: -50%;
  background-size: 70%;
}

.otdel {
  background-image: url("../images/otdel-work.jpg");
  background-repeat: no-repeat;
  background-position: 150%;
  background-size: 77%;
}

.jkx {
  background-image: url("../images/test.jpg");
  background-repeat: no-repeat;
  background-position: -35%;
  background-size: 70%;
}

.ob-stroy {
  background-image: url("../images/ob.jpg");
  background-repeat: no-repeat;
  background-position: 165%;
  background-size: 77%;
}

/* ------- */

/* Основные слайды */

.main-slide {
  height: 100%;
}
/* Контакты */
.contacts {
  background-image: url("../images/contacts_back.jpg");
  background-repeat: no-repeat;
  background-position: 0% 10%;
  background-size: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: left;
  position: relative;
  z-index: 700;
  height: 100%;
}
.contacts__text,
.info-tech__text {
  font-family: GlBold, sans-serif;
  position: relative;
  z-index: 1000;
  font-size: 30px;
  width: 80%;
}
.normal {
  font-size: 16px;
  color: #000;
}
.contacts__info,
.info-tech__info {
  width: 50%;
  padding: 0 55px;
}
.contacts__map {
  width: 50%;
  height: 100%;
  background-color: #ffffff;
}
.authors {
  position: absolute;
  z-index: 900;
  bottom: 45px;
  left: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.authors__text {
  font-size: 14px;
}
.authors__logo {
  width: 150px;
  height: 75px;
}

/* Контакты */
.info-tech {
  position: relative;
  z-index: 700;
  height: 100%;
  overflow: hidden;
}
.info-tech__wrap {
  display: flex;
  justify-content: flex-start;
  align-items: left;
}
.info-tech .rect-text:before {
  width: 110%;
  left: -20%;
}
.info-tech__connect {
  width: 50%;
  height: 100%;
  background-color: #fbfbfb;
  color: #000;
  padding: 50px 65px;
}
.info-tech__header {
  font-family: GlBold, sans-serif;
  font-size: 30px;
}
.info-tech__form {
  margin: 15px 0;
}
.info-tech__input,
.info-tech__select {
  width: 100%;
  padding: 10px 5px;
  border: none;
  font-size: 18px;
  background-color: transparent;
  border-bottom: 2px solid #0095ff;
  transition: all ease-in-out 0.3s;
}
.info-tech__input:focus,
.info-tech__select:focus {
  outline: none;
  background-color: #fff;
}
.info-tech__select {
  color: #757575;
}
.info-tech__form-text {
  font-size: 18px;
  padding: 15px 0;
  position: relative;
  z-index: 800;
}
.required:after {
  content: "*";
  color: #ff4949;
  font-family: inherit;
  font-size: inherit;
  width: 25px;
  height: 25px;
}
.info-tech__label {
  display: block;
  margin: 0 0 10px;
}
.info-tech__checkbox {
  border: none;
  border-radius: 50%;
}
.info-tech__submit {
  border: none;
  width: 100%;
  padding: 10px 5px;
  background-color: #0095ff;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  opacity: 1;
  transition: all ease-in-out 0.3s;
}
.info-tech__submit:hover {
  opacity: 0.8;
}

.info-tech__video {
  width: 50%;
  height: 100%;
}
.info-tech__button-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.info-tech__video-button .btn-text {
  color: #fff;
}
.info-tech__video-button:before {
  background-color: #0095ff;
}

/* Специальности */
.all-spec {
  height: 100%;
  overflow: hidden;
}
.all-spec__wrap {
  display: flex;
  justify-content: flex-start;
  height: calc(100%/3);
}
.all-spec__elem {
  width: calc(100%/3);
  height: 100%;
  flex: 0 0 calc(100%/3);
  transition: transform ease-out 0.4s, box-shadow ease-in-out 0.3s;
  box-shadow: 0 0 0 0 transparent;
  position: relative;
  z-index: 800;
  cursor: pointer;
  outline: 1px solid transparent;
}
.all-spec__elem:hover {
  transform: scale(1.05);
  box-shadow: 15px 5px 45px rgba(0, 0, 0, 0.2);
  z-index: 900;
}
.all-spec__context {
  position: relative;
  z-index: 800;
  height: 100%;
}
.all-spec__desc {
  position: absolute;
  z-index: 800;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  padding: 25px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.all-spec__header {
  position: relative;
  z-index: 900;
  font-weight: bold;
  transition: opacity ease-in-out 0.3s;
  text-align: center;
}
.all-spec__image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  z-index: 800;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.welder-img {
  background-image: url("../images/svargrweb.jpg");
}
.locksmith-img {
  background-image: url("../images/build-machine.jpg");
  background-position: 50% 25%;
}
.carpenter-img {
  background-image: url("../images/plot-work.jpg");
}
.dry-builder-img {
  background-image: url("../images/sux-work.jpg");
  background-position: 50% 25%;
}
.tech-builder-img {
  background-image: url("../images/build-zd.jpg");
  background-position: 50% 2%;
}
.electrician-img {
  background-image: url("../images/electrik.jpg");
}
.decoration-master-img {
  background-image: url("../images/otdel-work.jpg");
}
.housing-and-utilities-img {
  background-image: url("../images/test.jpg");
  background-position: 50% 35%;
}
.common-builder-img {
  background-image: url("../images/ob.jpg");
}
/* -------- */

/* Скрываем реальный чекбокс */
.checkbox {
  display: none;
}
.checkbox-custom {
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 3px;
}
.checkbox-custom,
.label {
  display: inline-block;
  vertical-align: middle;
}
.checkbox:checked + .checkbox-custom::before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background: #0095ff;
  border-radius: 2px;
}

/* ------- */

.sample-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: lightgreen;
  background-position: 50%;
}
.sample-slide2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(153, 144, 238);
  background-position: 50%;
}

/**
    Основной контент
*/
.page__content {
  position: relative;
  z-index: 700;
  padding: 2.5% 0;
  min-height: 250px;
}
/**
    Шапка страницы
*/
.page__header {
  justify-content: space-between;
  align-items: center;
}

/* ------ */

/* Меню */
.menu {
  position: relative;
  z-index: 550;
  flex-shrink: 90;
  padding: 5% 5% 0;
  transition: all ease-in-out 0.3s;
  opacity: 0.7;
}
.menu:hover {
  opacity: 1;
}
.menu__list {
  height: 100%;
}
.menu__list-item {
  position: relative;
  z-index: 600;
  text-align: left;
  display: inline-block;
  height: 100%;
  min-width: 200px;
  height: 200px;
  overflow: visible;
}
.menu__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  position: absolute;
  z-index: 650;
}
.menu__list-item:nth-child(2n - 1) .menu__link {
  top: 0;
}
.menu__list-item:nth-child(2n) .menu__link {
  bottom: 0;
}
.menu__link-icon {
  position: relative;
  z-index: 700;
  overflow: visible;
  width: 55px;
  height: 58px;
  transition: transform ease-in-out 0.2s;
  vertical-align: middle;
  transform: scale(1);
}
.menu__link-icon:hover {
  transform: scale(1.1);
}
.menu__line-block {
  position: absolute;
  z-index: 600;
  width: 245px;
  height: 245px;
}
.menu__line {
  background-color: #00a8ff;
  width: inherit;
  height: 2px;
}
.menu__list-item:nth-child(2n - 1) .menu__line-block {
  transform: rotate(34.8deg);
  top: 50%;
  left: -37%;
}
.menu__list-item:nth-child(2n) .menu__line-block {
  transform: rotate(-34.8deg);
  top: 29%;
  left: 30%;
}
.phone-icon {
  background: url("../images/menusprites.png") no-repeat -140px -1px;
}
.menu__link:hover .phone-icon {
  background: url("../images/menusprites.png") no-repeat -140px -61px;
}
.instruments-icon {
  background: url("../images/menusprites.png") no-repeat -210px -1px;
}
.menu__link:hover .instruments-icon {
  background: url("../images/menusprites.png") no-repeat -210px -61px;
}
.people-icon {
  background: url("../images/menusprites.png") no-repeat -69px -1px;
}
.menu__link:hover .people-icon {
  background: url("../images/menusprites.png") no-repeat -69px -61px;
}
.list-icon {
  background: url("../images/menusprites.png") no-repeat 0 0;
}
.menu__link:hover .list-icon {
  background: url("../images/menusprites.png") no-repeat 0 -60px;
}
.menu__link-text {
  position: relative;
  z-index: 1000;
  flex-shrink: 30;
  left: 10px;
}

/* ------ */

/* Логотип */
.logo {
  max-width: 16%;
  padding: 0 0 0 5%;
}
.logo__img {
  width: 100%;
}
.logo__text {
  padding: 10px 0;
  font-family: GlLight, sans-serif;
  font-size: 20px;
  text-align: left;
  line-height: 1.2;
}
.logo__link {
  position: relative;
  z-index: 700;
  display: block;
  transition: all ease-in-out 0.3s;
}
.logo__image {
  position: relative;
  z-index: 600;
  overflow: hidden;
}
.logo__link:before {
  content: "";
  position: absolute;
  z-index: 600;
  top: 0;
  left: 0;
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  width: 100%;
  height: 100%;
  transition: all ease-in-out 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
  filter: none;
  transform: scale(0, 1);
}
.logo__link:hover:before {
  transform: scale(1);
  filter: contrast(5);
}
/* ------ */
/* Зона с кнопками "+" */
.links-area {
  position: relative;
  z-index: 700;
  top: var(--link-area-top-translate);
}
.links-area__plus-button {
  position: absolute;
  z-index: 700;
  font-size: 15px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff4949;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  transform: scale(1);
  transition: all ease-in-out 0.3s;
}
.links-area__plus-button-puls {
  position: absolute;
  z-index: 700;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: scale(0);
  transition: all ease-in-out 0.3s;
  background-color: rgba(255, 255, 255, 0.3);
}
.links-area__plus-button:hover {
  transform: scale(1.3);
}
.links-area__plus-button:before {
  content: "";
  position: absolute;
  z-index: 600;
  width: 140%;
  height: 140%;
  border-radius: 50%;
  background-color: #ff4949;
  opacity: 0.6;
  top: -19%;
  left: -19%;
  transition: all ease-in-out 0.4s;
}
.links-area__plus-button:hover:before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.links-area__plus-button-text {
  position: relative;
  z-index: 700;
}
video {
  height: 110px;
  width: 110px;
  object-fit: cover;
}
.links-area__plus-button-tooltip {
  position: absolute;
  z-index: 800;
  width: 110px;
  height: 110px;
  background-color: #fff;
  border-radius: 50%;
  visibility: hidden;
  opacity: 0;
  transition: all ease-in-out 0.3s;
  bottom: -20px;
  left: -47px;
  overflow: hidden;
}
.links-area__plus-button:hover .links-area__plus-button-tooltip {
  visibility: visible;
  opacity: 1;
}
/* *
    Позиционирование "+" кнопок */
.links-area__plus-button--1 {
  top: 290px;
  right: 100px;
}
.links-area__plus-button--2 {
  top: 170px;
  right: 250px;
}
.links-area__plus-button--3 {
  top: 270px;
  left: 100px;
}
.links-area__plus-button--4 {
  top: 130px;
  left: 250px;
}
.links-area__plus-button--5 {
  top: 300px;
  left: 300px;
}
.links-area__plus-button--6 {
  top: 100px;
  right: 100px;
}
.links-area__plus-button--7 {
  top: 300px;
  right: 300px;
}
.links-area__plus-button--8 {
  top: 145px;
  left: 100px;
}
.links-area__plus-button--9 {
  top: 220px;
  right: -10px;
}
/* ------ */
/* Модальное окно с видео */
.modal {
  position: relative;
  z-index: 1500;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.modal__overlay {
  position: absolute;
  z-index: 1700;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.modal__window {
  width: 900px;
  height: 500px;
  background-color: #fbfbfb;
  position: relative;
  z-index: 1800;
  overflow: hidden;
}
.modal__video {
  width: 100%;
  height: 100%;
}
.js-modal-video {
  width: 100%;
  height: 100%;
}
.info-tech-modal-wrap {
  position: absolute;
  z-index: 1600;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}
.start-video {
  position: relative;
  z-index: 1500;
}
.start-video:before {
  background-color: #00a8ff;
}
.start-video__img {
  background-image: url("../images/video-play-btn.png");
  background-repeat: no-repeat;
  background-size: 450%;
  background-clip: content-box;
  background-position: 50%;
  width: 25px;
  height: 25px;
  display: block;
  z-index: 1800;
}
/* ------ */
/* Параллелипипед с текстом */
.info-rect {
  position: relative;
  z-index: 900;
  text-align: center;
  background-color: #00aaff8e;
  width: 30%;
  margin: 0 auto;
  padding: 20px 45px;
  top: var(--info-rect-top-translate);
}
.info-rect span {
  font-family: Tahoma, sans-serif;
  font-size: 18px;
}
.info-tech__smart-rect {
  width: 110%;
  padding-left: 55px;
}
.info-tech__photos-container {
  position: absolute;
  z-index: 1100;
  width: 55%;
  height: 100%;
  top: 0;
  right: 7%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.info-tech__photo {
  position: relative;
  z-index: 1100;
  height: inherit;
  width: 45%;
}
.info-tech__photo-src {
  position: absolute;
  z-index: 1300;
  top: 0;
  width: 100%;
  height: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
.info-tech__photo--1 {
  background-image: url("../images/photo-1.jpg");
}
.info-tech__photo--2 {
  background-image: url("../images/photo-2.jpg");
}
.info-tech__photo--3 {
  background-image: url("../images/photo-3.jpg");
}
/* ------ */
/* Кнопка показа видео */
.show-video {
  position: relative;
  z-index: 900;
  text-align: center;
  top: var(--show-video-top-translate);
  width: 30%;
  margin: 0 auto;
  font-size: 18px;
  cursor: pointer;
}
.show-video__button-icon {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
.video-icon {
  background-repeat: no-repeat;
  background-image: url("../images/video_button.png");
  background-position: 50% 50%;
  background-size: cover;
}
.show-video__button-text {
  padding: 5px 0;
}
/* ------ */
/* Стрелка для слайда */
.down-arrow {
  position: absolute;
  z-index: 700;
  bottom: -20%;
  left: 37%;
  width: 25%;
  height: 50px;
  margin: 0 auto;
}
.down-arrow__shape {
  width: 35px;
  height: 35px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  margin: 0 auto;
  transform: rotate(45deg);
  cursor: pointer;
  position: relative;
  z-index: 750;
}
/* ------ */
/* Картинки для слайдов "Чему научат" */
.slide__image-area {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.welder-what-teach-img {
  background-image: url("../images/svar.jpg");
}
.machinist-what-teach-img {
  background-image: url("../images/remont.jpg");
}
.builder-what-teach-img {
  background-image: url("../images/zdanie.jpg");
}
.locksmith-what-teach-img {
  background-image: url("../images/stolyar.jpg");
}
.carpenter-what-teach-img {
}
.dry-bulder-what-teach-img {
  background-image: url("../images/master-syxogo-stroy.jpg");
}
.tech-bulder-what-teach-img {
}
.electrician-what-teach-img {
  background-image: url("../images/electric-what-t.jpg");
}
.decoration-what-teach-img {
  background-image: url("../images/otdel-work_what-t.jpg");
}
.housing-and-utilities-what-teach-img {
  background-image: url("../images/jkx-what-t.jpg");
}
.common-builder-what-teach-img {
  background-image: url("../images/obshe-stroy.jpg");
}
/* ------ */
/* ------------------------------- */
/* Медиа запросы */
/* ------------------------------- */
@media (max-width: 1280px) {
  .links-area {
    top: calc(var(--link-area-top-translate)*-5.2);
  }
  .info-rect {
    top: calc(var(--info-rect-top-translate)*2.5);
  }
  .down-arrow {
    bottom: -100%;
  }
  .square {
    width: 130%;
    height: 130%;
  }
  .square-right {
    top: 37%;
    right: -20%;
    transform: rotate(70deg) skewX(45deg);
  }
  .square-left {
    left: -35%;
    top: -80%;
  }
  .welder,
  .machinist,
  .carpenter,
  .dry-builder,
  .builder,
  .electric,
  .otdel,
  .jkx,
  .ob-stroy {
    background-size: cover;
    background-position-y: 50%;
  }
  .welder {
    background-position-x: -120%;
  }
  .machinist {
    background-position-x: 0%;
  }
  .carpenter {
    background-position-x: 350px;
  }
  .dry-builder {
    background-position-x: -75px;
  }
  .builder {
    background-position-x: 505px;
  }
  .electric {
    background-position-x: -405px;
  }
  .otdel {
    background-position-x: -60%;
  }
  .jkx {
    background-position-x: -345px;
  }
  .ob-stroy {
    background-position-x: 165%;
  }
  .contacts {
    background-position: -400px 50%;
    background-size: cover;
  }
}
@media (max-width: 1280px) and (max-height: 768px) {
  .links-area {
    top: calc(var(--link-area-top-translate)*-1.1);
  }
  .info-rect {
    top: calc(var(--info-rect-top-translate)*1.3);
  }
  .down-arrow {
    bottom: -70%;
  }
  .square-right {
    top: 30%;
    right: -30%;
  }
  .square-left {
    left: -45%;
    top: -65%;
  }
  .welder {
    background-position-x: 300px;
  }
  .otdel {
    background-position-x: 270px;
  }
}
@media (min-width: 1366px) and (max-width: 1600px) {
  .links-area {
    top: calc(var(--link-area-top-translate)*2.2);
  }
  .info-rect {
    top: calc(var(--info-rect-top-translate)*0.5);
  }
  .show-video {
    top: calc(var(--show-video-top-translate)*0.5);
  }
}
@media (min-width: 1600px) {
  .links-area {
    top: calc(var(--link-area-top-translate)*-2.2);
  }
  .info-rect {
    top: calc(var(--info-rect-top-translate)*1.2);
  }
  .show-video {
    top: calc(var(--show-video-top-translate)*2);
  }
  .logo__text {
    font-size: 30px;
  }
  .down-arrow {
    bottom: -50%;
  }
  .modal__window {
    width: 1300px;
    height: 750px;
  }
}
@media (min-width: 1900px) {
  .links-area {
    top: calc(var(--link-area-top-translate)*-4.5);
  }
  .info-rect {
    top: calc(var(--info-rect-top-translate)*2.5);
  }
  .show-video {
    top: calc(var(--show-video-top-translate)*2.2);
  }
  .logo__text {
    font-size: 30px;
  }
  .right-text-area__text {
    width: 120%;
    justify-content: center;
  }
  .down-arrow {
    bottom: -100%;
  }
  .text-area {
    display: flex;
    flex-flow: column;
    align-items: left;
  }
  .info-tech .rect-text:before {
    width: 90%;
    left: -20%;
  }
  .info-tech__connect {
    padding: 65px 65px;
  }
  .info-tech__wrap {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: left;
  }
  .info-tech__connect .info-tech__wrap {
    justify-content: flex-start;
  }
  .info-tech__connect .info-tech__wrap {
    flex-flow: column;
  }
  .normal {
    font-size: 20px;
  }
  .info-tech__smart-rect {
    padding: 57px 0 57px 55px;
  }
  .modal__window {
    width: 1500px;
    height: 900px;
  }
  .square-right {
  }
  .square-left {
  }
}
/* ------------------------------- */
